{% extends "challenges/level_base.html" %}

{% block level_title %}Archive Master Challenge{% endblock %}

{% block challenge_description %}
<div class="challenge-description">
    <h4>Archive Investigation</h4>
    <p>Your challenge is to work with various archive formats and extract hidden information. The flag is hidden within compressed files.</p>
    
    <div class="task-list">
        <h5>Your Tasks:</h5>
        <ul>
            <li>Work with different archive formats (<code>tar</code>, <code>zip</code>, <code>gzip</code>)</li>
            <li>Extract and examine archive contents</li>
            <li>Navigate through nested archives</li>
            <li>Find and read hidden files within archives</li>
        </ul>
    </div>

    <div class="hint-box">
        <p><strong>Hint:</strong> Archives might be nested within each other. Pay attention to file extensions and use appropriate extraction commands.</p>
    </div>
</div>
{% endblock %}
