{% extends "challenges/level_base.html" %}

{% block level_title %}Bash Wizard Challenge{% endblock %}

{% block challenge_description %}
<div class="challenge-description">
    <h4>Advanced Bash Skills</h4>
    <p>This challenge tests your Bash scripting and command-line skills. You'll need to combine various commands to find the flag.</p>
    
    <div class="task-list">
        <h5>Your Tasks:</h5>
        <ul>
            <li>Use command pipelines (<code>|</code>)</li>
            <li>Utilize text processing commands (<code>sed</code>, <code>awk</code>)</li>
            <li>Work with environment variables</li>
            <li>Chain commands effectively</li>
        </ul>
    </div>

    <div class="hint-box">
        <p><strong>Hint:</strong> Sometimes combining multiple commands using pipes can reveal hidden information. Try different combinations of text processing tools.</p>
    </div>
</div>
{% endblock %}
