{% extends "terminal_base.html" %}

{% block terminal_help %}
<div class="level-help">
    <h3>Level 5: Network Configuration</h3>
    <p>Welcome to the network configuration challenge! Your task is to investigate network settings to find the flag.</p>
    <p>Useful commands:</p>
    <ul>
        <li>ls - List directory contents</li>
        <li>cd - Change directory</li>
        <li>cat - View file contents</li>
        <li>pwd - Print working directory</li>
    </ul>
    <p>Hint: Check the /etc directory for network configuration files</p>
</div>
{% endblock %}
